cmake_minimum_required(VERSION 3.8)
project({{ pkg.package_name }})

if(CMAKE_COMPILER_IS_GNUCXX OR CMAKE_CXX_COMPILER_ID MATCHES "Clang")
  add_compile_options(-Wall -Wextra -Wpedantic)
endif()

find_package(ament_cmake REQUIRED)

{% if pkg.interfaces.messages or pkg.interfaces.services %}
find_package(rosidl_default_generators REQUIRED)

rosidl_generate_interfaces(${PROJECT_NAME}
{% for msg in pkg.interfaces.messages %}
  "msg/{{ msg.name }}.msg"
{% endfor %}
{% for srv in pkg.interfaces.services %}
  "srv/{{ srv.name }}.srv"
{% endfor %}
)

ament_export_dependencies(rosidl_default_runtime)
{% endif %}

ament_package()
